AI_DB_CONNECTION=Driver={ODBC Driver 18 for SQL Server};Server=tcp:<server>.database.windows.net,1433;Database=<db>;Uid=<user>;Pwd=<password>;Encrypt=yes;TrustServerCertificate=no;
INTERNAL_API_KEY=change-this-in-development
AI_CACHE_TTL_SECONDS=300
AI_REFRESH_INTERVAL_SECONDS=300
